@charset "utf-8"

h3.subtitle {}

h3 span.subtitle {
	color: #d7784d;
	font-size: 0.8em;
}

div.exp-section {
	border-left: solid #75baad;
	padding-left: 1em;
}

div.exp-section ul {
	margin: 0;
	margin-left: 1.5em;
	padding: 0;
}

div.exp-section li {
  margin: 0;
	padding: 0;
}

div.skill-section {
	border-left: solid #75baad;
	padding-left: 1em;
}

div.skill-section ul {
	margin: 0;
	margin-left: 1.5em;
	padding: 0;
}

div.skill-section li {
  margin: 0;
	padding: 0;
}

div.download {
	text-align:right;
	margin-top: 1em;
}

div.download a {
	color: #FFFFFF;
	background: #75baad;
	/*border:  dotted #4c4128; */
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
